@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

/*cores fundo gradiente
#E85280
#E6658E
#DF688E
#E75884
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #ea1c31, #B77FB5, #EAA3E7);
    background-image: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 100vh;
}

header {
    display: flex;
    height: 68px;
    width: auto;
    text-align: center;/*Caso o text-align center não funcione aqui era só colocar em cada elemento de texto individualmente*/
    /*background-color: rgb(147, 21, 21);*/
    box-shadow: 0px 2px 7px 2px #0000004d;
    
    
    
}

#title {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 10px;
}


#img-logo {
    width: 50px;
    height: 48px;
    padding: 0px 0px;
    border-radius: 50%;
    
    box-shadow: 1px 2px 6px 2px #00000099;
}

#img-logo2 {
    display: none;
}

#sub-title > h1 {
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2em;
    justify-content: center;
    color: #ac85f9;
    text-align: center;
    text-shadow: 3px 3px 8px #090909c2;
}

#sub-title > h2 {
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2em;
    color: #ac85f9;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#sub-title {
    position: relative;
    top: -10px; 
    right: 0px;   
}

#sub-title > h1 {
    position: relative;
    left: -20px;
}


/*A partir deste ponto esta a configuração do menu hamburguer*/


#options {
    list-style: none;
    text-decoration: none;
}

.menu_mobile .menu-fake {
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 35px;
    right: 0px;
    top: 15px;
    opacity: 0;
    cursor: pointer;
}

.menu_mobile .menu-fake:checked ~ ul {/*o simbolo ~ faz com que o check box acione um efeito em um elemento no mesmo nivel*/
   

}

.menu_mobile .menu-lines {
    position: absolute;
    z-index: 9;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 15px;
}

.menu_mobile .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(254, 253, 253);
    border-radius: 3px;
    transition: all ease .2s;
}

.menu_mobile .menu-fake:checked ~ .menu-lines > span {
    background-color: #df1010;
}

.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.25);
}
.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(2) {
    opacity: 0;
}
.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.25);
}

.menu_mobile #options{
    position: absolute;
    z-index: 8;
    right: 0;
    top: 0;
    width: 0px;
    height: 300px;
    padding-top: 100px;
    background-color: #6b015d86;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all ease .3s;
    overflow: hidden;
    
}

.menu_mobile .menu-fake:checked ~ #options {
    width: 200px;
}

.menu_mobile ul li {
    position: relative;
    padding: 10px 30px;
    top: -20px;
}

.menu_mobile ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.menu_mobile ul li a:hover {
    color: #999;
}

/*Aqui neste ponto se encerra a configuração do menu hamburguer*/

#menu_desktop {
    display: none;    
}

#hero img {
    width: 100%;
    height: 450; 
    opacity: 0.35;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.text-hero {
    position: absolute;
}

.text-hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.text-hero {
    font-size: 1rem;
    left: 10%;
    right: 10%;
    top: 13%;
    bottom: 15%;
    text-align: center;
    
}

section > article > div > h3 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 700;
    font-style: normal;
    color: #350914;
    font-size: 1.5rem;
}

section > article .text2 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8rem;
    color: #8C0101;
}

.box > ul {
    width: auto;
    height: 125px;
    border-radius: 10px;
    background-color: #6b015d70;
    columns: 2;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.box > ul > li {
    list-style: none;
}

.box > ul > li > a {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #0B0B0B;
}





    
