@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Cores azul
#26354C
#03535E
#4C8889
#84A9A2
#BAB1AC
*/
:root

/*cores fundo gradiente
#E85280
#E6658E
#DF688E
#E75884
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #bab1ac;
    background-image: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 100vh;
    
}

header {
    display: flex;
    height: 68px;
    width: auto;
    text-align: center;/*Caso o text-align center não funcione aqui era só colocar em cada elemento de texto individualmente*/
    background-color: #4C8889;
    box-shadow: 0px 2px 7px 2px #0000004d;
    
    
    
}

#title {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 10px;
}


#img-logo {
    width: 50px;
    height: 48px;
    padding: 0px 0px;
    border-radius: 50%;
    
    box-shadow: 1px 2px 6px 2px #00000099;
}

#img-logo2 {
    display: none;
}

#sub-title > h1 {
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2em;
    justify-content: center;
    color: #26354C;
    text-align: center;
    text-shadow: 3px 3px 8px #090909c2;
}

#sub-title > h2 {
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2em;
    color: #26354C;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

#sub-title {
    position: relative;
    top: -10px; 
    right: 0px;   
}

#sub-title > h1 {
    position: relative;
    left: -20px;
}


/*A partir deste ponto esta a configuração do menu hamburguer*/


#options {
    list-style: none;
    text-decoration: none;
}

.menu_mobile .menu-fake {
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 35px;
    right: 0px;
    top: 15px;
    opacity: 0;
    cursor: pointer;
}

.menu_mobile .menu-fake:checked ~ ul {/*o simbolo ~ faz com que o check box acione um efeito em um elemento no mesmo nivel*/
   

}

.menu_mobile .menu-lines {
    position: absolute;
    z-index: 9;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 15px;
}

.menu_mobile .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(254, 253, 253);
    border-radius: 3px;
    transition: all ease .2s;
}

.menu_mobile .menu-fake:checked ~ .menu-lines > span {
    background-color: #df1010;
}

.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.25);
}
.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(2) {
    opacity: 0;
}
.menu_mobile .menu-fake:checked ~ .menu-lines > span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.25);
}

.menu_mobile #options{
    position: absolute;
    z-index: 8;
    right: 0;
    top: 0;
    width: 0px;
    height: 300px;
    padding-top: 100px;
    background-color: #26354cc4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all ease .3s;
    overflow: hidden;
    
}

.menu_mobile .menu-fake:checked ~ #options {
    width: 200px;
}

.menu_mobile ul li {
    position: relative;
    padding: 10px 30px;
    top: -20px;
}

.menu_mobile ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.menu_mobile ul li a:hover {
    color: #999;
}

/*Aqui neste ponto se encerra a configuração do menu hamburguer*/

#menu_desktop {
    display: none;    
}

main#principal {
    max-width: 600px;
    margin: 0 auto;
}


/*Estilização da seção hero inicio*/
#hero {
    width: auto;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 5px;
}

#hero::before {
    content: '';
    background-image: url('../imagens/yoga.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 6px 2px #00000094;
}

section#hero h3 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 700;
    font-style: normal;
    color: #092035;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

section#hero h2 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8rem;
    color: #8C0101;
    position: relative;
    
}
/*Estilização da seção hero fim*/

h2.text-serv {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    margin-top: 10px;
    color: #8C0101;
    letter-spacing: 5px;
}

/*Estilização do box-service inicio*/
h2.text-serv {
    text-align: center;
}

section#serv {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: auto;
    height: 300px;
    margin: 20px 0px;
    padding: 5px;
    background-color: #ade7e891;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.241);    
}

div.foto {
    display: flex;
    margin: auto 0;
    border-radius: 20px;
    padding: 0px;
    margin: 0;
    position: relative;
}

div.foto img {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

div.description {
    width: 150px;
    height: auto;
    margin: auto 0;
    background-color: #67b2b3;
    line-height: 30px;
    left: 0px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    list-style-type: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.description ul {
    list-style: none;
    font-size: 0.8rem;
    margin: auto 0;
    text-decoration: none;
    transform: translateX(-20%);
    
}

div.description ul > li > a {
    text-decoration: none;
    
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: bold;
    text-decoration: ;
    color: #023c60;
    /*text-shadow: 2px 2px 4px #023c60;*/
}

li.serv1 {
    transform: translateX(20px);
}
ul > li > img{
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px whitesmoke;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: -5px;
}
li.serv2 {
    transform: translateX(15px);
}
li.serv3 {
    transform: translateX(10px);
}
li.serv4 {
    transform: translateX(5px);
}
li.serv5 {
    transform: translateX(0px);
}
li.serv9 {
    transform: translateX(20px);
}
li.serv8 {
    transform: translateX(15px);
}
li.serv7 {
    transform: translateX(10px);
}
li.serv6 {
    transform: translateX(5px);
}
/*Estilização do box-service*/

/*Estilização da section sobre*/

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sobre p {
    width: auto;
    height: auto;
    padding: 05px 10px 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 1.05rem;
    color: #011f31;
    background-color: #4C8889;
    text-align: center;
    box-shadow: 1px 1px 6px 2px #00000094;
    text-shadow: 3px 3px 5px #d1dee775;
}

.sobre img {
    width: 240px;
    height: 270px;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 1px 1px 6px 2px #00000094;
} 

/*Estilização dos serviços*/

.details {
    margin-top: 60px;
}

section div.detail {
    width: auto;
    height: max-content;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 5px;
    align-items: center;
    background-color: #84A9A2;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.176);
    border: 1px solid whitesmoke;
}

section div.detail p {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 600;
    font-style: normal;
    text-indent: 25px;
    text-align: justify;
    font-size: 1.4rem;
    color: #092035;
    /*letter-spacing: 1px;
    word-spacing: 1px;*/
    padding: 10px 10px;
    border: 1px solid rgba(245, 245, 245, 0.428);
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.369) ;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

h2.title-serv {
    font-family: "Jim Nightshade", cursive;
    font-weight: bolder;
    font-size: 2.2rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #550116;
    text-align: center;
    padding: 0px 15px;
    border: 1px solid rgba(245, 245, 245, 0.428);
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.369) ;
    width: 100%;
}

img.img-serv {
    display: block;
    width: 100%;
    max-height: auto;
    border-radius: 20px;
    padding: 0 5px;
}
















    
