@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Cores azul
#26354C
#03535E
#4C8889
#84A9A2
#BAB1AC
*/
:root {
--seaweed: #233b14;
--background: #ced9c7;
--willow-grove: #697d5b;
--finch: #5d6a4c;
--axolotl: #4e6442;
--mantle: #8b9e8c;
--amulet: #8ba483;
--woodland: #46512a;
--black-forest: #081904;
--finlandia: #546a54;

}

/*cores fundo gradiente
#E85280
#E6658E
#DF688E
#E75884
*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    background-image: ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    height: 100vh;
}
body {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    height: 68px;
    width: 100%;
    text-align: center;/*Caso o text-align center não funcione aqui era só colocar em cada elemento de texto individualmente*/
    background-color: var(--black-forest);
    box-shadow: 0px 2px 7px 2px #0000004d; 
    z-index: 997;
    opacity: 0;
    animation: view2 linear 0.4s forwards; 
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes view2 {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1; 
        z-index: 997;
    }
}

/*teste de menu hamburguer*/

section#teste {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 300px;
    max-height: 100px;
    padding: 5px;
    box-shadow: 0px 2px 7px 2px #0000004d;
    
}

div.overlay {
    background-color: rgba(0, 0, 0, 0.613);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    animation: view2 linear 0.4s forwards;
}

div.overlay.overlay-open {
    display: block;
}

section#teste-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 1.5em;
    color: var(--amulet);
    row-gap: 30px;
}
div#teste-sub-title {
    margin-left: 30px;
}



section#teste-title div img {
    position: relative;
    top: 5px;
    width: 60px;
    height: 58px;
}

div#teste-sub-title {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: space-between;
    align-items: ;
    margin-left: 8px;
    padding: 0px 0;
}

section#teste #teste-sub-title h1 {
    position: absolute;
    top: 0px;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    width: auto;
    height: 24px;
    font-size: 2.1rem;
    justify-content: center;
    padding-bottom: 20px;
    color: var(--amulet);
    text-shadow: 3px 3px 8px #090909c2;
}

section#teste #teste-sub-title h2 {
    position: absolute;
    bottom: 18px;
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2rem;
    color: var(--amulet);
    font-style: normal;
    font-weight: 200;
    width: auto;
}

nav.menu_mobile {
    position: relative;

}

nav button#button {
    z-index: 999;
    position: absolute;
    right: 0px;
    top: -18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 0;
    background: transparent;
    margin-top: 0px;
    margin-right: 20px;
    padding: 0px 0px;
}

nav ul#options2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    z-index: 998;
    right: -5px;
    top: -34px;
    width: 0px;
    height: 350px;
    padding-top: 100px;
    background-color: #26354cc4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 20px;
    transition: all ease .3s;
    overflow: hidden;    
}

ul#options2 li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


ul#options2.open-options2 {
    width: 200px;  
}


button:hover {
    cursor: pointer;
}

button span {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background: #f3eded;
    margin-top: 15px;
    transition: all 0.25s;
}

button.active span:nth-child(2) {
    opacity: 0;
    width: 0px;
}

button.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
    background: red;
}

button.active span:nth-child(3) {
    transform: rotate(45deg) translate(-11px, -11px);
    background: red;
}

/*teste de menu hamburguer*/

#menu_desktop {
    display: none;
        
}
#menu_desktop > a {
    color: #f4eeee;
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    /*box-shadow: 0px 0px 2px 2px black;*/
    padding: 2px;
}

@media screen and (min-width: 600px) {
    #menu_desktop {
        display: flex;
        z-index: 999;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 10px;
        border: 0;
        background: transparent;
        margin-right: 10px;
        padding: 0px 0px;
        gap: 10px;
        text-decoration: none;
    }
    #menu_desktop > a {
        color: #f4eeee;
        text-decoration: none;
        list-style: none;
        border-radius: 10px;
        border-bottom: 3px solid black;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        /*box-shadow: 0px 0px 2px 2px black;*/
        padding: 2px;
    }
    .localizacao {
        display: flex;
        gap: 10%;
        row-gap: 10%;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    nav button#button {
        display: none;
    }
}

main#principal {
    max-width: 850px;
    height: auto;
    margin: 69px auto 50px auto;
}


/*Estilização da seção hero inicio*/
#hero {
    width: auto;
    min-width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 20px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 64px 5px 0 5px;
    opacity: 0;
    animation: view linear 0.4s 0.4s forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    /*animation-timeline: view();*/
    /*animation-range: entry 0% cover 30%;*/
}

#hero::before {
    content: '';
    background-image: url('../imagens/logo_novo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*box-shadow: 1px 1px 6px 2px #00000094;*/
}

section#hero h3 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 700;
    font-style: normal;
    color: #092035;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
}

section#hero h2 {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.2rem;
    color: #8C0101;
    position: relative;
    
}
/*Estilização da seção hero fim*/

h2.text-serv {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.4rem;
    margin-top: 60px;
    color: #8C0101;
    letter-spacing: 5px;
}

/*Estilização do box-service inicio*/

/*Estilização da section sobre*/

.sobre {
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px ;
    padding: 0;
    opacity: 0;
    animation: view linear 0.5s 0.5s forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.sobre-box {
    width: 100%;
    height: fit-content;
    padding: 0px;
    position: relative;
    /*background-color: #0c0c0c;*/
    border-radius: 10px;
}

.sobre p {
    opacity: 0;
    width: 100%;
    height: 100%;
    /*padding: 05px 10px 0px 10px;*/
    margin-top: 20px;
    border-radius: 10px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    font-family: "Cousine", monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.3rem;
    color: #000000;
    /*background-color: #318182f3;*/
    text-align: center;
    /*box-shadow: 1px 1px 6px 2px #00000094;*/
    text-shadow: 3px 3px 5px #d1dee775;
    position: relative;
    top: 0px;
    animation: view linear 0.4s 0.4s forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

/*.sobre p::before {
    content: '';
    background-image: url('../imagens/nova_sobre.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 6px 2px #00000094;
}
*/
.sobre img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    margin: 0px auto;
    padding: 0px;
    box-shadow: 1px 1px 6px 2px #00000094;
    opacity: 0.9;
} 

/*Estilização dos serviços*/

/*nova estilização seção de serviços em teste*/
h2.text-serv {
    text-align: center;
}

section#serv2 {
    width: auto;
    height: auto;
    margin: 20px 10px;
    /*background-color: #4c8889;*/
    border-radius: 20px;
    padding: 20px;
    display: ;
    opacity: 1;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    animation: view linear 0.4s forwards;
    transition: 0.8s;
}

#description2 {
    display: flex;
    overflow: hidden;
}

div.description2 > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    columns: 3;
    gap: 35px;
    margin: auto auto 20px auto;
    padding: 20px;

}

div.description2 > ul > li > a > img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 5px;
}

div.description2 > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgb(16, 17, 17);
    position: relative;
    margin-bottom: 10px;
}

div.description2 > ul > li > a{
    color: #182231;
    padding-top: 10px;
    font-weight: bold;
}

div.description2 {
    opacity: 1;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    transition: 0.5s;
}

@keyframes view {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

div.description2 .icons-close {
    transform: translateX(-50px);
    opacity: 0;
    display: ;
    /*animation: sair linear 0.5s forwards;*/
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes sair {
    from{
        opacity: 1;
        transform: translateX(0);
        display: flex;
    }
    to{
        opacity: 0;
        transform: translateX(-300px);
        display: none;
    }
}

div.description2 > ul > li > a {
    display: flex;
    width: 60px;
    height: 70px;
    flex-direction: column;
    font-size: .8rem;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    
}

section div.detail-1 {
    width: auto;
    height: auto;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 5px;
    align-items: center;
    /*background-color: #84A9A2;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.176);
    border: 1px solid whitesmoke;*/
    display: none;
    margin-right: ;
    transition-property: ;
    opacity: 0;
    animation: entar2 linear 0.8s .5s  forwards;
}


section div.open_detail-1 {
    animation: entrar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    transition: all 0.5s linear;
}

@keyframes entrar {
    from{
        opacity: 0;
        transform: translateX(200px);
        transform: n;
    }
    to{
        opacity: 1;
        display: flex;
        transform: translateX(0);
        
        
    }
}

@keyframes entrar2 {
    from{
        opacity: 1;
        transform: translateX(-300px);   
    }
    to{
        opacity: 0;
        transform: translateX(0px);
    }
}
@keyframes sair2 {
    from{
        opacity: 1;
        transform: translateX(0px);   
    }
    to{
        opacity: 0;
        transform: translateX(300px);
    }
}


section div.detail-1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-indent: ;
    text-align: center;
    font-size: 1.2rem;
    color: #092035;
    padding: 10px 10px;
    /*border: 1px solid rgba(245, 245, 245, 0.428);
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.369) ;*/
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

h2.title-serv1 {
    font-family: "Jim Nightshade", cursive;
    font-weight: bolder;
    font-size: 2.4rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #550116;
    text-align: center;
    padding: 0px 15px;
    /*border: 1px solid rgba(245, 245, 245, 0.428);
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.369) ;*/
    width: 100%;
}

img.img-serv {
    display: block;
    width: 100%;
    max-height: auto;
    border-radius: 20px;
    padding: 0 5px;
}

.box-seta {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 0%;
    bottom: 0;

}

.box-seta:hover {
    cursor: pointer;
}

.seta {
    position: absolute;
    top: 18%;
    right: 0;
    left: 25%;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;
    transform: rotate(45deg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*fim da estilização teste da nova seção*/




/*teste de menu hamburguer com JS*/

section#teste {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 100px;
    padding: 5px;
    /*background-color: #4C8889;*/
    box-shadow: 0px 2px 7px 2px #0000004d;
}

section#teste-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jim Nightshade", cursive;
    font-size: 1.5em;
    color: #26354C;
    row-gap: ;
}



section#teste-title div img {
    position: relative;
    top: 5px;
    width: 60px;
    height: 58px;
}

div#teste-sub-title {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    justify-content: center;
    align-items: start;
    margin-left: 8px;
    padding: 0px 0;
}

div#teste-sub-title h1 {
    position: absolute;
    top: 5px;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    width: auto;
    height: 24px;
    font-size: 2.2rem;
    justify-content: center;
    color: #26354C;
    text-align: center;
    text-shadow: 3px 3px 8px #090909c2;
    
    width: auto;
}

div#teste-sub-title h2 {
    position: absolute;
    bottom: 25px;
    font-family: "Jim Nightshade", cursive;
    width: auto;
    height: 24px;
    font-size: 2.2rem;
    color: #26354C;
    font-style: normal;
    font-weight: 200;
    width: auto;
}

button {
    z-index: 9;
    position: absolute;
    right: 5px;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 0;
    background: transparent;
    margin-top: 50px;
    padding: 10px;
}

ul#options2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    z-index: 8;
    right: 0;
    top: 0;
    width: 0px;
    height: 300px;
    padding-top: 100px;
    background-color: #26354cc4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    transition: all ease .3s;
    overflow: hidden;    
}


ul#options2.open-options2 {
    width: 200px;
    
    
}


button:hover {
    cursor: pointer;
}

button span {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background: #f3eded;
    margin-top: 15px;
    transition: all 0.25s;
}

button.active span:nth-child(2) {
    opacity: 0;
    width: 0px;
}

button.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 10px);
    background: red;
}

button.active span:nth-child(3) {
    transform: rotate(45deg) translate(-11px, -11px);
    background: red;
}

/*teste de menu hamburguer*/


/*Estilização Depoimentos*/

h2.text-dp {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.4rem;
    margin-top: 60px;
    color: #8C0101;
    letter-spacing: 5px;
    text-align: center;
}

.coment {
    margin: 0 auto;
    width: 100vh;
    max-width: 400px;
    height: 400px;
    overflow: hidden;
    gap: 0px;
    position: relative;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}


.coments {
    width: 400%;
    height: 450px;
    display: flex;
    gap: 0px;
    margin: 20px auto;
}

.slides {
    margin: 0;
    width: 25%;
    position: relative;
    border-radius: 10px;
    transition: 0.5s ease;
}
.slides > img {
    margin: 0;
    padding: 0 15px;
    width: 400px;
    height: 300px;
    border-radius: 10%;
}


.box-seta1 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 0%;
    display: none;

}

.box-seta1:hover {
    cursor: pointer;
}

.seta1 {
    position: absolute;
    top: 18%;
    right: 0;
    left: 25%;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;
    transform: rotate(45deg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-seta2 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 0%;
    display: none;
}

.box-seta2:hover {
    cursor: pointer;
}

.seta2 {
    position: absolute;
    top: 18%;
    right: 0;
    left: 5%;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;
    transform: rotate(-135deg);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.radio-btn {
    display: none;
    position: ;
    bottom: 0px;
    left: 20%;
}


div.control-navigation {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 0px;
}

.manual-btn {
    border: 2px solid rgb(100, 93, 93);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:hover {
    background-color: white;
}
.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

input#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
input#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
input#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
input#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}
input#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}
input#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: white;
}

input#radio1:checked ~ #coment1 {
    margin-left: 0;
}

input#radio2:checked ~ #coment1 {
    margin-left: -25.2%;
}
input#radio3:checked ~ #coment1 {
    margin-left: -50%;
}
input#radio4:checked ~ #coment1 {
    margin-left: -75%;
}
input#radio5:checked ~ #coment1 {
    margin-left: -100%;
}
input#radio6:checked ~ #coment1 {
    margin-left: -125%;
}

/*Estilização do campo de contato*/

h2.text-cont {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    margin: 70px 50px;
    color: #8C0101;
    letter-spacing: 6px;
    text-align: center;
}

section#contact {
    width: auto;
    height: auto;
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 5px;
    align-items: center;
    /*background-color: #4bb399;*/
    border-radius: 15px;
    /*box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.176);
    border: 1px solid whitesmoke;*/
    animation: view linear 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

section#contact img.img-contact {
    display: block;
    width: 50%;
    max-height: auto;
    border-radius: 20px;
    margin: 20px 0;
    padding: 0 5px;
}

div.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
}

div.tel a {
    text-decoration: none;
    color: #011f31;
    font-weight: bold;
    text-align: left;
}

div.sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    gap: 15px;  
}

div.sociais a {
    text-decoration: none;
    color: #011f31;
    font-weight: bold;
    text-align: start;
}



div.tel img , div.sociais img {
    width: 50px;
    height: 50px;
}

div.times {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0;
    gap: 15px;
    color: rgb(36, 91, 76);
}



/*estilização local*/

h2.text-local {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2.4rem;
    margin-top: 10px;
    color: #8C0101;
    letter-spacing: 5px;
    text-align: center;
}
.localizacao {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.box-local {
    width: 100%;
    height: auto;
    max-height: max-content;
    margin: 20px;
    padding: 5px;
    animation: view linear 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.box-local img {
    width: 100%;
    height: 100%;
    
    padding: 0px;
}
.box-convenio {
    display: none;
    width: 80%;
    height: 100%;
    margin: 20px auto;
    animation: view linear 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.box-convenio img {
    width: 100%;
    height: 100%;
    
    padding: 0px;
}

.end {
    width: 100%;
    height: auto;
    padding: 05px 10px 10px 10px;
    margin: 5px 0px;
    border-radius: 10px;
    font-family: "Cousine", monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 1rem;
    color: #000000;
    /*background-color: #4c888932;*/
    text-align: center;
    /*box-shadow: 1px 1px 6px 2px #00000094;
    text-shadow: 3px 3px 5px #d1dee775;
    */
}

/*botão topo*/
@keyframes view3 {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

div#btn-topo {
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 80px;
    width: 45px;
    height: 45px;
    background-color: #bab1ac04;
    color: #26354C;
    border-top-left-radius: 0%;
    /*border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 35%;
    border-top: 5px solid black;
    border-left: 5px solid black;*/
    transform: rotate(45deg);
    animation: view3 linear forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timeline: view();
    animation-range: entry 100% cover 110%;
    scroll-behavior: auto;
}
#seta-topo {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 35%;
    border-top: 5px solid rgb(133, 35, 35);
    border-left: 5px solid rgb(133, 37, 37);
    transform: rotate(0deg);
    width: 35px;
    height: 35px;
    
}
#seta-topo p {
    transform: rotate(-45deg);
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    color: #243939;
    font-weight: bolder;
    font-size: .8rem;
}
div#btn-topo > a {
    text-decoration: none;
    font-size: 3rem;
    color: black;
}

div#btn-whatts {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: ;
    border-radius: 50%;

}

div#btn-whatts > a > img {
    width: 50px;
    height: 50px;
}
div#btn-whatts > a {
    color: #315050;
    text-decoration: none;
}

/*Rodapé*/

footer#footer {
    width: 100%;
    min-width: 400px;
    height: auto;
    margin: 10px 0;
    background-color: black;
}

#footer > section > h3 {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

#rodape {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 5px;
}
#direito{
    margin: 5px;
    padding: 10px;
}
#dev {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    align-items: start;
    margin-right: 20px;
    margin-left: 10px;
    padding: 0 5px;
    width: max-content;
}
#dev h5 > p {
    margin-left: 0;
    margin-bottom: px;
}
#dev h3 {
    color: rgb(101, 221, 230);
}
#dev a {
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: .8rem;
}
#credito {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 65%;
    margin: px 0;
    flex-wrap: ;
    padding: 0px 10px;
}
#credito a > img {
    width: 80px;
}
#credito a {
    font-size: .6rem;
    text-align: justify;
    width: 80px;
}
div#credito ul > li {
    margin-bottom: 10px;
    width: auto;
}
div#credito ul > li > a {
    margin: 0px 0;
    font-size: .7rem;
    color: white;
    text-decoration: none;
}
div#credito ul {
    columns: 2;
    height: min-content;
    margin-bottom: 10px;
    padding: 10px;
}
#credito > h3 {
    color: rgb(101, 221, 230);
    font-size: .9rem;
    margin-bottom: 5px;
}

#rodape h5 {
    color: rgb(101, 221, 230);
    font-size: 1rem;
}
#rodape p {
    margin-bottom: 10px;
    color: white;
}








    
